.row
  / Main Content Section
  / This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens
  .large-9.push-3.columns
    %h3.maroon
      Spring Boys Volleyball League
      %small March 28 - May 6, 2018
    %p
      Boys volleyball is growing in Ohio! 85 High schools now have boys programs and 7 universities have added varsity programs in the last 5 years with more to follow next year. Now is the perfect time to see if your son has the skills to be a volleyball player. The one regret High School players have is that they did not start playing sooner, largely because the opportunities did not exist then, but they do now!
    %p
      This Spring we are inviting athletes in grades 5 thru 8 are to participate in a boys volleyball league. Teams will consist of either all 5th and 6th graders or 7th and 8th graders. Multiple teams will be formed and compete against other schools in NEO.
    %p
      Practices will be held at Stow Munroe Falls High School on Wednesday evenings and will be led by the Stow Boys Varsity Team players and staff.
    %p
      Matches will be played on Sundays at Elite Sports Ohio, which is a 25 minute drive from Stow. They have an excellent facility to host the league in and matches will be played against
      other school districts such as Jackson, Kent, and Wadsworth. Teams will play 2 matches per Sunday. Play dates are April 8, 15, 22, 29 with Championships on May 6.
    %p
      Cost to register is $75 per athlete. The registration deadline is March 25th. Each registered player will receive a jersey.
    %p
      No prior experience is required. All of the coaching needed will be provided by the coaching staff.
    %p
      %b Register online at
      = link_to "https://go.teamsnap.com/forms/101391", "https://go.teamsnap.com/forms/101391"
    %p= image_tag "stow-bivl-2017.png"
  / Nav Sidebar
  / This is source ordered to be pulled to the left on larger screens
  .large-3.pull-9.columns
    %p
      = image_tag "sidebar-2017-stow-sibbel-devore.jpg"
