%h4 Upcoming Events
%section.container
  %ul.slides
    - events.each do |event|
      %li
        %a{:href => event_url(event)}
          %span.icon
            = image_tag "clock.png"
          %span.right= event.title
          %strong= event.date