#mws-navigation
  %ul
    %li.active
      %a{:href => admin_dashboard_path }
        %i.icon-home
        Dashboard
    %li
      %a{:href => admin_announcements_path }
        %i.icon-television
        Announcements
    %li
      %a{:href => admin_events_path }
        %i.icon-calendar
        Calendar
    %li
      %a{:href => admin_stories_path }
        %i.icon-file-word
        Stories
    %li
      %a{:href => admin_newspapers_path }
        %i.icon-newspaper
        Newspapers
