#mws-navigation
  %ul
    %li.active
      %a{:href => admin_dashboard_path }
        %i.icon-home
        Dashboard
    %li
      %a{:href => admin_announcements_path }
        %i.icon-list
        Announcements
    %li
      %a{:href => admin_events_path }
        %i.icon-calendar
        Calendar
