#mws-user-notif.mws-dropdown-menu
  %a.mws-dropdown-trigger{"data-toggle" => "dropdown", :href => "#"}
    %i.icon-exclamation-sign
  / Unread notification count
  %span.mws-dropdown-notif 35
  / Notifications dropdown
  .mws-dropdown-box
    .mws-dropdown-content
      %ul.mws-notifications
        %li.read
          %a{:href => "#"}
            %span.message
              Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
            %span.time
              January 21, 2012
        %li.read
          %a{:href => "#"}
            %span.message
              Lorem ipsum dolor sit amet
            %span.time
              January 21, 2012
        %li.unread
          %a{:href => "#"}
            %span.message
              Lorem ipsum dolor sit amet
            %span.time
              January 21, 2012
        %li.unread
          %a{:href => "#"}
            %span.message
              Lorem ipsum dolor sit amet
            %span.time
              January 21, 2012
      .mws-dropdown-viewall
        %a{:href => "#"} View All Notifications
/ Messages
#mws-user-message.mws-dropdown-menu
  %a.mws-dropdown-trigger{"data-toggle" => "dropdown", :href => "#"}
    %i.icon-envelope
  / Unred messages count
  %span.mws-dropdown-notif 35
  / Messages dropdown
  .mws-dropdown-box
    .mws-dropdown-content
      %ul.mws-messages
        %li.read
          %a{:href => "#"}
            %span.sender John Doe
            %span.message
              Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
            %span.time
              January 21, 2012
        %li.read
          %a{:href => "#"}
            %span.sender John Doe
            %span.message
              Lorem ipsum dolor sit amet
            %span.time
              January 21, 2012
        %li.unread
          %a{:href => "#"}
            %span.sender John Doe
            %span.message
              Lorem ipsum dolor sit amet
            %span.time
              January 21, 2012
        %li.unread
          %a{:href => "#"}
            %span.sender John Doe
            %span.message
              Lorem ipsum dolor sit amet
            %span.time
              January 21, 2012
      .mws-dropdown-viewall
        %a{:href => "#"} View All Messages
/ User Information and functions section
#mws-user-info.mws-inset
  / User Photo
  #mws-user-photo
    %img{:alt => "User Photo", :src => "example/profile.jpg"}
  / Username and Functions
  #mws-user-functions
    #mws-username
      Hello, John Doe
    %ul
      %li
        %a{:href => "#"} Profile
      %li
        %a{:href => "#"} Change Password
      %li
        = link_to 'Logout', destroy_administrator_session_url, :method => :delete
