#mws-user-notif.mws-dropdown-menu

#mws-user-message.mws-dropdown-menu

/ User Information and functions section
#mws-user-info.mws-inset
  / User Photo
  #mws-user-photo
    = image_tag "bulldoghead.png"
  / Username and Functions
  #mws-user-functions
    #mws-username
      Hello, 
      = current_administrator.email
    %ul
      %li
        %a{:href => "#"} Profile
      %li
        %a{:href => "#"} Change Password
      %li
        = link_to 'Logout', destroy_administrator_session_url, :method => :delete
