.row
  .large-12.columns
    .row
      / Side Bar
      .large-4.small-12.columns
        = image_tag "bulldogvolleyballface.png"
        .hide-for-small.panel
          %h3 2014 Season
          %h5.subheader
            Games begin Friday March 21 with the District Tournament beginning May 9. All matches listed here are Varsity only.

      / End Side Bar
      / Thumbnails
      .large-8.columns
        .row
          .large-4.small-6.columns
            %img{src: "http://placehold.it/1000x1000&text=Thumbnail"}/
            .panel
              %h5 Item Name
              %h6.subheader $000.00
          .large-4.small-6.columns
            %img{src: "http://placehold.it/500x500&text=Thumbnail"}/
            .panel
              %h5 Item Name
              %h6.subheader $000.00
          .large-4.small-6.columns
            %img{src: "http://placehold.it/500x500&text=Thumbnail"}/
            .panel
              %h5 Item Name
              %h6.subheader $000.00
          .large-4.small-6.columns
            %img{src: "http://placehold.it/500x500&text=Thumbnail"}/
            .panel
              %h5 Item Name
              %h6.subheader $000.00
          .large-4.small-6.columns
            %img{src: "http://placehold.it/500x500&text=Thumbnail"}/
            .panel
              %h5 Item Name
              %h6.subheader $000.00
          .large-4.small-6.columns
            %img{src: "http://placehold.it/500x500&text=Thumbnail"}/
            .panel
              %h5 Item Name
              %h6.subheader $000.00
        / End Thumbnails

