.row
  / Main Content Section
  / This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens
  .large-9.push-3.columns
    %h3.maroon
      Maroon & Gold Tournament
      %small April 11, 2015
    %p
      Doors will open at 8:15AM. Camp areas will be designated for each team. Please locate your teams area and keep your belongings there. Please cleanup your areas before leaving. Locker rooms will be available for athletes to change.
    %p
      Please do not bring chairs. Plenty of seating will be available.
    %p
      Cost of admission is $5 per adult. Students are Free.
    %p
      There will be a concession stand available and it is located around the corner from the Upper gym.
    %p
      We will provide warm up balls for both courts. Please do not bring your own. Do not remove any balls from the gym. We are providing them as a courtesy and conveinence of the teams so ensure your players do not leave with anything that does not belong to them so we can continue to do so.
    %p
      1st and 2nd place teams will receive awards.
    %p
      Play begins promptly at 9AM. Two courts will be in use; one in the Upper gym and the other in the Lower gym. 
    %p
      The first round of play will begin with a 20 minute warmup (3-7-7-3). This time begins at 8:40AM for the 9AM round. Each subsequent round will follow a 4-4-2 warmup. All matches are 3 games to 25 points.
    %p 
      All teams are guaranteed 3 matches. Teams should be ready to play immediately following the previous match. If the previous match completes in 2 games, the next match will start ahead of schedule. The team on the upper portion of the bracket shall be considered the home team for the purposes of the coin flip and scoreboard.
    %p 
      Each team will supply a line judge for their off match. The line judge should be a varsity player or an adult traveling with the team.
    %p
      Tournament seeding will occur one week prior to the tournament based on reported results on the OHSBVA website. Please make sure your team's results are up to date.

    %p
      Teams who will be competing this year:
      %ul
        %li Hoban
        %li Stow
        %li Northmont
        %li Centerville
        %li St Francis De Sales
        %li Farrell (PA)
        %li Mt Vernon
        %li Dublin Coffman
      
    %p
      / = link_to image_tag("2014MaroonAndGoldTournamentBracket.png"), "/MaroonAndGoldTournament2014.pdf", target: "_blank"

  / Nav Sidebar
  / This is source ordered to be pulled to the left on larger screens
  .large-3.pull-9.columns
    %p
      = image_tag "2014StowVolleyballGraphic.png"
