.row
  / Main Content Section
  / This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens
  .large-9.push-3.columns
    %h3.maroon
      Super Scrimmage
      %small March 21, 2015
    %p
      We will have a full gym for the Super Scrimmage this season!! Doors will open at 8:15AM and the first round of the Super Scrimmage will start at 9AM. There will be a 3-7-7-3 warmup on your first court starting at 8:40AM. The scrimmage will be over by 1:00PM. Since we are running 5 courts with 10 teams, you will always be playing. Each individual scrimmage will last 17 minutes, with 3 minutes allowed to switch courts as needed. Locker rooms will be available, but I encourage you to have your teams come dressed to play.

    %p 
      Again we will be providing balls to warm up with, please do not bring your own. All the balls must stay in the gym and make sure your players return them to the carts after they are finished warming up with them. We host this event at a minimal cost, but if volleyballs start disappearing we will no longer be able to do that.

    %p 
      Officials will again be volunteering to officiate this event. Please exercise patience with them and remember this is a scrimmage. Any coaches or players that act out of line towards an official will be asked to leave. If you have a problem with a particular official, you can approach me in between matches about it and I will handle the situation.

    %p 
      There will be at least one break at the midway point for 20 minutes giving you a chance to regroup with your teams, hydrate, etc.

    %p
      Confirmed Teams:
      %ul
        %li Brunswick
        %li Brecksville
        %li Hudson
        %li Hoban
        %li Jackson
        %li Kent
        %li Medina
        %li Stow
        %li Walsh  
        %li   

    %p 
      Admission for spectators is free and bleachers will be setup in both gyms. Please, no chairs in either gym.
    / = link_to image_tag("2014SuperScrimmageSchedule.png"), "/2014SuperScrimmageSchedule.pdf", target: "_blank"


  / Nav Sidebar
  / This is source ordered to be pulled to the left on larger screens
  .large-3.pull-9.columns
    %p
      = image_tag "2014StowVolleyballGraphic.png"
    %p
      / %img{src: "http://placehold.it/320x240&text=Ad"}/
