%table{:class => "#{collection.first.class.to_s.downcase} detail"}
  - resource.attributes.each_pair do |attr, value|
    - next if ['id', '_id', 'created_at', 'updated_at', 'online_product_id'].include?(attr)
    %tr
      %th= attr.titleize
      %td= resource.send(attr)
