.maroon
  color: #971e2e

#dates
  .title
    background-color: #971e2e
    height: 30px
    width: 220px
    color: white
    text-align: center
    font-weight: 600
    padding-top: 6px
      
  .address
    font-size: smaller
  .date
    border: 1px solid #971e2e
    width: 220px
    height: 220px
    padding-top: 20px
    text-align: center
    background-color: white
      
    .time
      margin: 10px
      font-weight: 300
      font-size: 16pt

    .month
      margin-top: 3px
      font-size: 12pt
        
    .dayname
      font-size: 16pt
      font-weight: 600

    .day
      font-size: 60pt

// #fec029